@model BudgetManagementApp.ViewModels.BudgetCategoryDetailsVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Name)
        </dd>
    </dl>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "List")
</p>